*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background-color: #F5F5F5;
}

/* Navbar Section */

.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  /* padding:  1rem; */
}
.logo{
  background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-size: 700;

}
.hamburger{
  display: none;
}
.navbar{
  display: block;
}
.nav-items{
  display: flex;
}

.nav-link{
  text-transform: capitalize;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.nav-link a{
  line-height: 26px;
  border-radius: 5rem;
  padding: .7rem 1rem;
  color: #666666;
  transition: background-color .5s, color .5s;
}
.nav-link a:hover{
  color: white;
  background-color: black;
  border-radius: 5rem;
}

/* Home Section */

.home-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.name-container{
  margin: 4rem 0;
}

.greeting,.myname,.typing {
  font-family: 'Poppins';
font-weight: 700;
font-size: 2rem;
line-height: 3rem;
letter-spacing: -1px;
color: #42446E;
}

.name{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 2rem;
  background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typing{
  text-transform: capitalize;
}

.img-container{
  margin: auto;
  width: 50%;


}

.my-img{
  border: .5rem solid #E70FAA;
  width: 100%;
  border-radius: 100%;
}

.about-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 4rem;
}

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-title{
  text-transform: capitalize;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 2rem;
  line-height: 52px;
  color: #42446E;
}

.about-content{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.2rem;
  color: #666666;
}

.skill-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.skill-title{
  text-transform: capitalize;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 2rem;
  line-height: 52px;
  color: #42446E;
}

.skill-content{
  text-transform: capitalize;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.2rem;
  color: #666666;
  margin-bottom: 2rem;
}

.skill-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.fa-brands{
  padding: 1rem;
  font-size: 5rem;
  margin-bottom: 2rem;
  flex: 20%;
}
/* .fa-brands:hover{
  font-size: 10rem;
} */

.fa-html5{
  color:#FC490B;
}
.fa-css3-alt{
  color:#2196F3;
}
.fa-bootstrap{
  color:#5E3B7F;
}
.fa-sass{
  color:#CD6699
}
.fa-js{
  color:#F7E018;
}
.fa-react{
  color:#5ADAFD;
}
.fa-node{
  color:#489241;
}
.fa-github{
  color:#171516;
}

.project-section{
  padding: 2rem;
}
.project-title{
  text-align: left;
  text-transform: capitalize;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 2rem;
  line-height: 52px;
  color: #42446E;
}

.project-content{
  text-align: left;
  text-transform: capitalize;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.2rem;
  color: #666666;
  margin-bottom: 2rem;
}

.project-container{
  margin: 0 auto;
  background-color: black;
  height: 90vh;
  width: 70vw;
  border-radius: 2rem;
}

.project-img{
  padding: .5rem;
  width: 100%;
  height: 50%;
  margin: 1rem 0;
}

.project-inner-title{
  text-transform: capitalize;
  font-family: 'Poppins';
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  color: white;
}

.project-inner-content{
  color: #666666;
  padding: 0 2rem;
  font-family: 'Poppins';
  font-size: 1rem;
font-weight: 500;
  color: white;
  text-align: justify;
  margin-bottom: 1rem;
}

.tech-stack{
  font-family: 'Poppins';
  /* line-height: .5rem; */
  font-weight: 400;
  font-size: 1rem;
  padding: 0 2rem;
  color: white;
  text-align: justify;
}

.tech-title{
  font-weight: 700;
  text-transform: capitalize;
  color: #42446E;
}

/* <p class="tech-stack">
<span class="tech-title">tech stack</span>HTML, JavaScript, SASS,
React
</p> */

/* <section class="project-section">
<h2 class="project-title">project</h2>
<p class="project-content">things i've built so far</p>
<div class="project-container">
  <div class="project-image-container">
    <img
      src="https://media.tenor.com/Nx7Zj4vJBgAAAAAd/madison-beer.gif"
      alt=""
    />
  </div>
  <div class="project-inner-container">
    <h3 class="project-inner-title">Project Title 01 project title</h3>
    <p class="project-inner-content">
      This is sample project description random things are here in
      description This is sample project lorem ipsum generator for dummy
      content
    </p>
    <p class="tech-stack">
      <span class="tech-stack-title">tech stack:</span>HTML, JavaScript,
      SASS, ReactJs
    </p>
    <p class="links">
      <i class="fa-sharp fa-solid fa-link"></i>
      <span class="live-preview">Live Preview</span>
      <i class="fa-brands fa-github"></i>
      <span class="github-link">View Code</span>
    </p>
  </div>
</div>
</section> */
 /* @media only screen and (min-width:768px){
  .home-section{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 4rem ;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
  }
  img-container{
    margin: auto;
    width: 50%;
  }
  
  .my-img{
    border: .5rem solid #E70FAA;
    width: 50%;
    border-radius: 100%;
  }

} */


/* <section class="about-section">
<div class="about-container">
  <h2 class="about-title">about me</h2>
  <p class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
    quaerat cupiditate repudiandae. Facilis saepe, odio quod placeat
    est, itaque dolorem nulla aspernatur sit vitae veniam quae provident
    reiciendis eos in repudiandae, magnam quos nostrum distinctio. Et
    accusamus similique quidem reprehenderit quaerat numquam magnam,
    natus odit earum doloremque ab perferendis commodi iusto autem hic
    neque ad facilis? Incidunt consectetur ullam, delectus natus laborum
    eos, harum iusto autem ex, possimus nisi id esse. Veniam ipsam ab
    harum nisi tenetur necessitatibus quam fugiat repellendus, rerum
    iure? Explicabo, illum reprehenderit nostrum ipsa cum accusantium a
    ullam, veritatis est culpa nobis odit maxime, possimus velit.
  </p>
</div>
<!-- <div class="education-container">
  <h2 class="education-title">education</h2>
</div> -->
</section> */



/* @media only screen and (min-width:767px){
  .home-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
  }
  .hamburger{
    display: block;
    cursor: pointer;
  }
  .hamburger .line{
    width: 3rem;
    height: .5rem;
    background-color: #666666;
    margin: .3rem 0;
  }
  .navbar{
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    width: 100vw;
    transition: 0.2s;

  }
  .navbar.active{
    height: 28rem;
    background-color: #11101b;
  }

  .navbar ul{
    display: block;
    text-align: center;
    margin: 1rem 0;
    transition: .5s;
    overflow: hidden;;
    opacity: 0;
  }
  .navbar .active {
    opacity: 0;
  }
  .navbar ul li{
    margin: 2rem 0;
  }

  .navbar ul li a{
    color: #F5F5F5;
  }
} */