*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'DM Sans', sans-serif;
}

.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  1rem;
}
.logo{
  font-size: 2rem;
  font-size: 700;

}
.hamburger{
  display: none;
}
.navbar{
  display: block;
}
.nav-items{
  display: flex;
}

.nav-link{
  text-transform: capitalize;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.nav-link a{
  border-radius: 5rem;
  padding: .7rem 1rem;
  color: #666666;
  transition: background-color .5s, color .5s;
}
.nav-link a:hover{
  color: white;
  background-color: black;
  border-radius: 5rem;
}